%header
  .header
    .header__flashmessage
      %p チャットグループが作成されました。
    .header__sidebar
    .header__chat
%main
  .main
    .main__sidebar
    .main__chat
%footer
  .footer
    .footer__sidebar
    .footer__chat
