.main {
  &__sidebar {
    background-color: $mainSidebarColor;
    float: left;
    height: calc(100vh - 96px - 90px); //画面max - header - footer
    width: 300px;
    overflow: scroll;
    &__group {
      color: $mainWhiteColor;
      a {
        text-decoration: none;
      }
      a:visited {
        color:  $mainWhiteColor;
      }
      &-name {
        color: $mainWhiteColor;
        font-size: 15px;
        margin: 20px 20px 5px;
      }
      &-message {
        color: $mainWhiteColor;
        font-size: 11px;
        margin: 0px 20px 40px;
      }
    }
  }

  .main__chat {
    background-color: #FAFAFA;
    float: left;
    height: calc(100vh - 96px - 90px); //画面max - header - footer
    width: calc(100vw - 300px);
    overflow: scroll;
    &__messages__body {
      .main__chat__messages__body__header {
        margin: 46px 40px 0;
      }
      &-user-name {
        display: inline;
        font-weight: bold;
        margin: 46px 0 10px 40px;
      }
      &-date {
        color: #999999;
        display: inline;
        font-size: 12px;
        position: absolute;
        left: 100px;
        bottom: 35px;
      }
      &-content {
        color: #434A54;
        font-size: 14px;
        margin: 0 40px 0;
        padding: 10px 0 0;
      }
    }
  }
}
