.main {
  &__sidebar {
    background-color: $mainSidebarColor;
    float: left;
    height: calc(100vh - 96px - 90px); //画面max - header - footer
    width: 300px;
    &__group {
      color: $mainWhiteColor;
      &-name {
        font-size: 15px;
        margin: 20px 20px 5px;
      }
      &-message {
        font-size: 11px;
        margin: 0px 20px 40px;
      }
    }
  }

  .main__chat {
    background-color: #FAFAFA;
    float: left;
    height: calc(100vh - 96px - 90px); //画面max - header - footer
    width: calc(100vw - 300px);
    &__messages__body {
      position: relative;
      &-user-name {
        font-weight: bold;
        margin: 46px 0 10px 40px;
      }
      &-date {
        color: #999999;
        font-size: 12px;
        position: absolute;
        left: 100px;
        bottom: 35px;
      }
      &-content {
        color: #434A54;
        font-size: 14px;
        margin: 0 0 0 40px;
      }
    }
  }
}
